<head>
  <title>weatherdash</title>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/reallysimpleweather/reallysimpleweather-1.1.0.min.js"></script>

</head>

<body>

  {{> hello}}

</body>

<template name="hello">
  <div id="weather"></div>
</template>
